# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# 但要包含 SDK 預編譯的動態庫
!fubon-cpp-sdk/bindings/*.so
!fubon-cpp-sdk/bindings/*.dylib
!fubon-cpp-sdk/bindings/*.dll
!fubon-cpp-sdk/bindings/*.lib

# 也包含未來 c_wrapper 產生的動態庫
!c_wrapper/build/*.so
!c_wrapper/build/*.dylib
!c_wrapper/build/*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
